<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rent car</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Roman Zvieriev">
    <meta name="description"
          content="Online car rental service in Ukraine. Rent a different car in Kiev, Dnipro, Odessa...">
    <meta name="keywords" content="rent car, rent Kiev, аренда авто, аренда машин">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
</head>
<body class="contact" background="images/bg_01.webp" style="background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col-12" style="padding-top: 5rem; text-align: center">
            <h1 style="font-size: 4rem; text-align: center; color: #223898">Thank you for attention</h1>
            <a href="/rent_car/view/main.jsp">Home</a>
        </div>
    </div>
</div>

</body>
</html>